{{page-title "NotFound"}}
<div class="items-center justify-center flex flex-col">
    <h1 class="mt-10 text-3xl">Globetotter not found!</h1>
    <LinkTo @route="visited" class="text-[#e2eafc] bg-[#274060] p-3 text-xl rounded-md">Go back to visited</LinkTo>
</div>
